<div
  class="hidden md:block ptablet:scale-90 ltablet:scale-90 absolute -bottom-12 left-8 bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 rounded-xl p-5 shadow-xl shadow-muted-400/10 dark:shadow-muted-800/10"
>
  <div class="flex justify-between mb-4">
    <h3 class="font-heading font-medium text-muted-800 dark:text-muted-100">
      Follow Us
    </h3>
    <span class="font-sans text-sm text-muted-400"></span>
  </div>
  <div class="flex justify-between items-center gap-4">
    <a href="https://www.facebook.com/NasesePrivate" target="_blank">   
      
      <img
      class="object-cover w-12 h-12 mask mask-blob"
      src="/img/social/facebook.svg"
      alt="facebook"
      width="48"
      height="48"

    />
  </a>
  <a href="https://www.instagram.com/naseseprivate/" target="_blank">   
    <img
      class="object-cover w-12 h-12 mask mask-blob"
      src="/img/social/instagram.svg"
      alt="instagram"
      width="48"
      height="48"
    />

  </a>

  <a href="https://twitter.com/NasesePrivate" target="_blank">   
    <img
      class="object-cover w-12 h-12 mask mask-blob"
      src="/img/social/twitter.svg"
      alt="twitter"
      width="48"
      height="48"
    />

  </a>

  <a href="https://www.linkedin.com/company/naseseprivate" target="_blank">   
    <img
      class="object-cover w-12 h-12 mask mask-blob"
      src="/img/social/linkedin.svg"
      alt="linkedin"
      width="48"
      height="48"
    />
    
  </a>
  </div>
</div>
